Repository LDI-Ufes/lda-ufes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,mdx}": ["prettier --write"]
}

chore: atualização do README.md
  README.md
Due: prettier --write

chore: atualização do README.md
  README.md
  github-cover.png
Due: prettier --write

feat: types e constants
  src/app/hooks/useTheme/ThemeColor/constants.d.ts
  src/app/hooks/useTheme/ThemeColor/types.d.ts
Due: eslint --fix, prettier --write

feat(hooks): cores base e persistência
  src/app/hooks/useTheme/ThemeColor/useBaseColorsFromCSS.ts
  src/app/hooks/useTheme/ThemeColor/usePersistentThemeName.ts
Due: eslint --fix, prettier --write

feat(utils): funções utilitárias
  src/app/hooks/useTheme/ThemeColor/colorUtils.ts
Due: eslint --fix, prettier --write

feat(hook): useTheme funcional
  src/app/data/UserPreferences/index.ts
  src/app/hooks/useTheme/ThemeColor/applyThemeStyles.ts
  src/app/hooks/useTheme/ThemeColor/calculateDynamicThemeColors.ts
  src/app/hooks/useTheme/ThemeColor/useThemeColor.ts
Due: eslint --fix, prettier --write

feat(styles): definição de variáveis CSS
  src/styles/index.css
Due: none

refactor(home): ajustes e melhorias
  src/app/components/layout/Home/HomeBanner/index.tsx
  src/app/components/layout/Home/index.ts
  src/app/components/theme/Catalog/index.tsx
  src/home/index.tsx
Due: eslint --fix, prettier --write

fix(layout): capas das páginas
  src/app/components/layout/Page/index.tsx
Due: eslint --fix, prettier --write

refactor(theme): paginação
  src/app/components/theme/Navigation/index.tsx
Due: eslint --fix, prettier --write

chore: melhorias de importação
  src/app/components/layout/NotFound/index.tsx
  src/app/index.tsx
Due: eslint --fix, prettier --write

chore: adicionar documentos de exemplo
  src/pages/capitulo-1.mdx
  src/pages/capitulo-2.mdx
  src/pages/capitulo1.mdx
  src/pages/capitulo2.mdx
  src/pages/capitulo3.mdx
  src/pages/capitulo4.mdx
  src/pages/introducao.mdx
  src/pages/pagina.mdx
Due: prettier --write

feat(onboarding): responsivo
  src/app/components/onboarding/Steps/Step2/index.tsx
  src/app/components/onboarding/Steps/Step3/index.tsx
  src/app/components/onboarding/Steps/Step4/index.tsx
  src/app/components/onboarding/Steps/Step5/index.tsx
  src/app/components/onboarding/Steps/index.ts
  src/app/components/onboarding/StepsContent.tsx
  src/app/components/onboarding/index.tsx
  src/app/components/theme/Header/HeaderAdjustments/LectureAdjustments/index.tsx
  src/app/components/ui/Switch/index.tsx
Due: eslint --fix, prettier --write

feat: clarity plugin
  .env.example
  package-lock.json
  package.json
  src/app/index.tsx
Due: eslint --fix, prettier --write

refactor(home,page): melhorias na importação de imagens
  src/app/components/layout/Home/HomeBanner/index.tsx
  src/app/components/layout/Page/index.tsx
Due: eslint --fix, prettier --write

feat(routes,utils): detectar dinamicamente os subtítulos
  src/app/router/routes.ts
  src/app/utils/USlugify.ts
  src/app/utils/index.ts
Due: eslint --fix, prettier --write

feat(plugins): rehypeSlug and rehypeNormalizeId
  src/app/plugins/RehypeNormalizeId/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor(ui): melhorias gerais nos componentes
  src/app/components/ui/Box/index.tsx
  src/app/components/ui/Figure/index.tsx
  src/app/components/ui/Strong/index.tsx
  src/app/components/ui/Table/index.tsx
  src/app/components/ui/index.ts
Due: eslint --fix, prettier --write

refactor(ui,mdx): adaptação para novo componente de subtitulo
  src/app/components/MDX/MDXContent/index.tsx
  src/app/components/ui/ChapterSubtitle/index.tsx
  src/app/components/ui/Subtitle/index.tsx
  src/app/contexts/MDXProvider/index.tsx
Due: eslint --fix, prettier --write

refactor(theme): sumário
  src/app/components/theme/Summary/index.tsx
Due: eslint --fix, prettier --write

refactor(theme): botão de sumário mobile
  src/app/components/theme/ButtonActionSummary/index.tsx
Due: eslint --fix, prettier --write

chore(pages): adaptação com os subtitulos
  src/pages/capitulo-1.mdx
  src/pages/capitulo-2.mdx
Due: prettier --write

fix(search): permitir tecla enter
  src/app/components/theme/Summary/SummarySearch.tsx
Due: eslint --fix, prettier --write

chore: license GPL v3
  LICENSE.md
  README.md
  package.json
Due: prettier --write
